boto3
upstash-redis
python-decouple
redis
jupyter
replicate
pillow
fastapi[standard]
fastapi-limiter==0.1.6
sqlalchemy
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
# support .heic images -> see readme
# pillow-heif 