boto3
upstash-redis
python-decouple
jupyter
replicate
pillow
fastapi[standard]
fastapi-limiter
sqlalchemy
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
# support .heic images -> see readme
# pillow-heif 